<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/grid.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/touchTouch.css">

		<script src="js/jquery.js"></script>
		<script src="js/touchTouch.jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/packery.pkgd.min.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
	  <script src="js/jquery.mobile.customized.min.js"></script>
	  <script src="js/wow.js"></script>
	  <script>
$(document).ready(function () {
	if ($('html').hasClass('desktop')) {
		new WOW().init();
	}
});
	  </script>
	  <!--<![endif]-->
	  <!--[if lt IE 8]>
		  <div style=' clear: both; text-align:center; position: relative;'>
		  <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		  <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		  </a>
		  </div>
	  <![endif]-->
	  <!--[if lt IE 9]>
		  <script src="js/html5shiv.js"></script>
		  <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	  <![endif]-->
	  <!--[if IE]>
		  <link rel="stylesheet" type="text/css" media="screen" href="css/ie-8.css">
	  <![endif]-->
	</head>
	<body class="index-2">
		<!--==============================header=================================-->
		<header id="header">
			<div id="stuck_container">
				<div class="container">
					<div class="row">
						<div class="grid_12">
							<div class="social">
								<a href="#"><span class="bd-ra fa fa-facebook"></span></a>
								<a href="#"><span class="bd-ra fa fa-tumblr"></span></a>
								<a href="#"><span class="bd-ra fa fa-google-plus"></span></a>
							</div>
							<h1><a href="index.html">Point<span>Design Studio</span></a></h1>
							<nav>
								<ul class="sf-menu">
									<li><a href="index.html">Home</a>
										<ul>
											<li><a href="#">Lorem ipsum</a></li>
											<li><a href="#">Lorem ipsum</a>
												<ul>
													<li><a href="#">Lorem ipsum</a></li>
													<li><a href="#">Lorem ipsum</a></li>
													<li><a href="#">Lorem ipsum</a></li>
												</ul>
											</li>
											<li><a href="#">Lorem ipsum</a></li>
										</ul>
									</li>
									<li><a href="index-1.html">Home</a></li>
									<li class="current"><a href="index-2.html">Upload</a></li>
									<li><a href="index-4.html">Contacts</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!--=======content================================-->

		<section id="content">
			<div class="full-width-container block-1">
				<div class="container">
					<div class="row">
						<div class="grid_12">
						</div>
						<div id="touch_gallery">

							<div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>


							<div class="grid_4">
							</div>
							<div class="grid_4">
								<div class="grid_4">
									<div class="grid_4">
										<div class="grid_4">
										</div>
										<div class="grid_4">
											<div class="grid_4">
												<div class="grid_4">
												</div>
												<div class="grid_12">
													<div class="pagination"><a href="#" class="active">1</a><a href="#">2</a></div>
												</div>
											</div>
										</div>

									</div>
		</section>

		<!--=======footer=================================-->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="grid_12">
						<div class="copyright">
							<pre>© <span id="copyright-year"></span> |  Privacy Policy</pre>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom"><a href="http://www.templatemonster.com/" rel="nofollow"><img src="images/footer-logo.png" alt="logo"></a></div>
		</footer>
		<script>
$(function(){
	$('#touch_gallery a').touchTouch();
});
		</script>

	</body>
</html>
