<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="login.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




	</head>
	<body>


		<div id="other">
			<h1 id="mh">IIIT-HYDERABAD COURIER PORTAL</h1>



			<form action="index.html" method="post">
				<fieldset>
					<legend>Credentials</legend>
					User-id:<input type="text" name="userId" placeholder="User-id"><br />
					Name: <input type="text" name="name" placeholder="Name"><br />
					Email:<input type="text" name="email" placeholder="email"><br />
					Password: <input type="password" name="password" placeholder="At-least 8 characters"><br />
					<input type="submit" name="submit" value="submit" align="center">
				</fieldset>
			</form>
		</div>
	</body>
</html>
