<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="user.css">
		
<!--		<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
-->		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="/resources/demos/style.css">
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script>
$( function() {
	$( ".datepicker" ).datepicker();
} );
		</script>




	</head>
	<body>


		<div id="other">
			<h1 id="mh">IIIT-HYDERABAD COURIER PORTAL</h1>

			<div id="search">
				<form action="" method="POST">
					<fieldset>	
						<legend>Search</legend>
						<input type="text" name="">
					</fieldset>
				</form>
				
			</div>
			
			
			<div class="row">

				<div class="col-sm-8">
				<table>
					<thead>
						<tr>
							<td>Courier Id</td>
							<td>Recipient</td>
							<td>Date</td>
							<td>Time</td>
							<td>Address</td>
							<td>Sender</td>
							<td>Courier Type</td>
							<td>Taken</td>
						</tr>
					</thead>
					<tbody>
						{% for courier in couriers %}
						<tr>
							<td>{{ couriers.courierId }}</td>
							<td>{{ couriers.recName }}</td>
							<td>{{ couriers.date }}</td>
							<td>{{ couriers.time }}</td>
							<td>{{ couriers.address }}</td>
							<td>{{ couriers.sender }}</td>
							<td>{{ couriers.ctype }}</td>
							<td>{{ couriers.taken }}</td>
						</tr>

						{% endfor }
					</tbody>
				</table>
				</div>
				<div class="col-sm-4">
					<fieldset>
					<legend>Search by Date</legend>
					<form action="" method="POST">
					To Date :	<input type="text" class="datepicker" name="to_date">
					</br>	
					Till Date: <input type="text" class="datepicker" name="till_date">
					</form>

					</fieldset>
					
				</div>
			</div>

		</div>
	</body>
</html>
